!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title RNP Contest ❖ Home
    %link{ :rel => 'shortcut icon', :href => '/images/rnp.ico', :type => 'image/x-icon' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    #dark-side
      = link_to "<h1>Ruby NoName Podcat's <strong>Contest</strong></h1>", page_path('home')
      %ul
        %li= link_to_unless_current '<span>Домой, к маме</span>', page_path('home')
        %li= link_to_unless_current '<span>Участие</span>', new_user_path
        %li= link_to_unless_current '<span>Правила</span>', page_path('rules')
        %li= link_to_unless_current '<span>Приз</span>', page_path('yummy')
    #content
      = yield
